<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1526842072661-d1748d7d9748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=800);">
  <div class="banner-container">
    <h1>COTTON</h1>
    <p>COMPLEMENTOS</p>
  </div>
</div>
